<table class="friends-table primary">
	<thead>
		<tr>
			<th {{action 'setSortBy' 'first_name'}}>Name</th>
			<th {{action 'setSortBy' 'totalArticles'}}>Articles</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{{#each model as |friend|}} 
		<tr>
			<td>{{link-to friend.full_name 'articles' friend}}</td>
			<td>{{friend.total_articles}}</td>
			<td><a href="#" {{action 'delete' friend}}>Delete</a></td>
		</tr>
		{{/each}}
	</tbody>
</table>
